[Unit]
Description=MCSCOP
Documentation=https://github.com/psmitty7373/ctfcop
After=network.target

[Service]
Type=simple
User=ctfcop
ExecStart=/usr/bin/node /opt/ctfcop/app.js
Restart=on-failure
WorkingDirectory=/opt/ctfcop

[Install]
WantedBy=multi-user.target
