html
  head
    title= title
    include top_includes.pug
  body
    div.container
      include nav.pug
      div.jumbotron
        h2 Missions
          button.propButton.btn.btn-primary#newMission(type='button', style="float: right;") New Mission
        table#missionsTable

script var is_admin = !{is_admin};
script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootbox.min.js')
script(src='js/tabulator.min.js')
script(src='js/main.js')
