html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/tabulator_bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      include nav.pug
      div.jumbotron
        h2 Missions
          button.propButton.btn.btn-primary#newMission(type='button', style="float: right; display: none;") New Mission
        table#missionsTable

script var permissions = !{permissions};
script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery-ui-timepicker-addon.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootbox.min.js')
script(src='js/tabulator.min.js')
script(src='js/main.js')
