html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      include nav.pug
      div.wrapper
        form(method='post' action='login').form-signin
          img(src='images/logo.png').login-logo
          h2.form-signin-heading.text-center MCS-COP Login
          if (message)
            div.alert.alert-danger.alert-error= message
          input(type='text' name='username' placeholder='Username' autofocus='autofocus').form-control
          input(type='password' name='password' placeholder='Password').form-control.input-password
          button.btn.btn-lg.btn-login.btn-block(type='submit') Login
