nav.navbar.navbar-expand-lg.navbar-dark
  ul.navbar-nav.mr-auto
    li.nav-item.active
      a(href=".").nav-link Missions
    li.nav-item
      a(href="Config").nav-link Config
    li.nav-item
      a(href="logout").nav-link Logout
iframe#download
div.modal.fade#modal(role='dialog')
  div.modal-dialog
    div.modal-content#modal-content
      div.modal-header#modal-header
        h5.modal-title#modal-title
        button.close(type='button' data-dismiss='modal')#modal-close &times;
      div.modal-body#modal-body
      div.modal-footer#modal-footer

