link(rel='icon', href='favicon.ico', type='image/x-icon')
link(rel='stylesheet', href='css/jquery-ui.min.css')
link(rel='stylesheet', href='css/tab_test.css')
link(rel='stylesheet', href='css/bootstrap.darkly.min.css')
link(rel='stylesheet', href='css/style.css')