@font-face {
  font-family: 'fa';
  src: url('../fonts/fa.eot');
  src: url('../fonts/fa.eot#iefix') format('embedded-opentype'),
       url('../fonts/fa.woff2') format('woff2'),
       url('../fonts/fa.woff') format('woff'),
       url('../fonts/fa.ttf') format('truetype'),
       url('../fonts/fa.svg#fa') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fa";
  font-style: normal;
  font-weight: normal;
  font-size: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.fa-calendar:before { content: '\e800'; } /* '' */
.fa-clock-o:before { content: '\e801'; } /* '' */
.fa-up-big:before { content: '\e802'; } /* '' */
.fa-arrow-up:before { content: '\e802'; } /* '' for date chooser */
.fa-down-big:before { content: '\e803'; } /* '' */
.fa-arrow-down:before { content: '\e803'; } /* '' for date chooser */
.fa-left-big:before { content: '\e804'; } /* '' */
.fa-right-big:before { content: '\e805'; } /* '' */
.fa-pencil:before { content: '\e806'; } /* '' */
.fa-play:before { content: '\e807'; } /* '' */
.fa-stop:before { content: '\e808'; } /* '' */
.fa-pause:before { content: '\e809'; } /* '' */
.fa-cancel-circled:before { content: '\e80a'; } /* '' */
.fa-down-open:before { content: '\e80b'; } /* '' */
.fa-up-open:before { content: '\e80c'; } /* '' */
.fa-right-open:before { content: '\e80d'; } /* '' */
.fa-left-open:before { content: '\e80e'; } /* '' */
.fa-circle-empty:before { content: '\f10c'; } /* '' */
.fa-circle:before { content: '\f111'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */



