@font-face {
    font-family: lato;
    src:
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff');
}

body {
    font-family: lato;
    position: relative;
}

button.pane-close {
    float: none;
    font-size: 14px;
    margin-left: 4px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin-top: 10px
}

select {
    width: 100%;
}


table {
    width: 100%;
    font-size: 14px;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    padding: 6px;
}

td a {
    text-decoration: none;
    border-bottom: 1px dashed #141414;
}

.avatar {
    width: 48px;
    height: 48px;
}

.avatarSm {
    width: 24px;
    height: 24px;
}

.canvas {
    background-color: #555;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.center-text {
    text-align: center;
}

.checkbox {
    margin-bottom: 5px;
}

.clockBar {
    width: 100%;
    background: #000;
    color: #fff;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.hide {
    display: none;
}

.jumbotron {
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 5px;
}

.myavatar {
    float: left;
    margin-right: 10px;
}

.simplecolorpicker {
    border: 1px solid #9d9d9d !important;
    margin-right: 10px;
}

.message {
    display: flex;
}

.messageAvatar {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.messageGutter {
    width: 36px;
    left: 0px;
    margin-right: 5px;
    float: left;
}

.messageInput {
    border: 1px solid #ddd;
    border-radius: 5px !important;
    width: 100%;
    background-color: #222;
    color: #fff;
    padding: 5px;
}

.messageSender {
    font-weight: 900;
    color: #E74C3C;
    line-height: 18px;
    margin-right: 4px;
}

.messageTime {
    color: #9e9ea6;
    font-size: 12px;
    white-space: nowrap;
}

.messageWrapper {
    position: relative;
    display: block;
    padding-top: 3px;
    padding-left: 3px;
}

.messageWrapper:hover {
    background-color: #444;
}

.messageWrapper:hover .messageOptions {
    display: block;
}

.messageOptions {
    display: none;
    position: absolute;
    right: 10px;
    top: -15px;

}

.messageOptionBtn {
    padding: 4px 7px 4px 7px;
}

.messageContent {
    flex: 1;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

#get-more-messages {
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
}

#progressbar {
    width: 100%;
    height: 25px;
    text-align: center;
}

#progressbarContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px;
}

#chatProgressbar {
    width: 100%;
    height: 25px;
    text-align: center;
}

#chatProgressbarContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    padding: 10px;
}

#globalSearchText {
    height: 23px;
}

#download {
    display: none;
}

.navbar {
    height: 36px;
    min-height: 32px !important
}

.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#sizeObject {
    margin-bottom: 5px;
}

#tools,
#files,
#notes {
    padding: 10px;
}

.bottomContainer {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 36px;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
}

#chat.dragging * {
    pointer-events: none;
}

#chatDropZone {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000c;
    z-index: 15;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#chat {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}

#chat2 {
    width: auto;
    height: 100%;
    overflow-y: scroll;
    background: #ffffff;
    padding-left: 15px;
}

.chatImage {
    max-height: 500px;
    max-width: 500px;
}

.chatIcon {
    width: 50;
    height: 50px;
}

.chatFile {
    display: flex;
    flex-flow: row;
    width: fit-content;
    padding: 5px;
}

.tablesPane {
    width: 100%;
    height: 100%;
}

.newMessage {
    border-top: 1px solid #fff;
}

.newMessageLabel {
    position: absolute;
    right: 50px;
    top: -9px;
    color: #d72b3f;
    line-height: 8px;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
}

#foundCount {
    position: absolute;
    left: 305px;
    top: 8px;
    background: #459fcc;
    font-size: 10px;
    border-radius: 15px;
    padding: 1px 10px;
    color: #ffffff;
    line-height: 16px;
    z-index: 5;
    display: none;
}

.channelUnread {
    pointer-events: none;
    background: #dc5960;
    font-size: 12px;
    border-radius: 15px;
    padding: 1px 10px;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 16px;
}

.userLabel, .channelLabel {
    cursor: pointer;
    display: flex;
    flex-flow: row;
    height: 26px;
    width: 100%;
    color: #fff;
    padding: 0 12px 0 15px;
    font-size: 16px;
    text-decoration: none;
    line-height: 26px;
    vertical-align: middle;
}

.channelHeading {
    padding: 0 12px 0 6px;
    height: 26px;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    line-height: 26px;
    vertical-align: middle;
    margin-top: 5px;
}

.channelName {
    pointer-events: none;
    width: 100%;
}

.channelSelected {
    background: #4C9689 !important;
    color: #ffffff;
}

.channel:hover {
    background: #4A5664;
}

.channel:hover .channelDeleteIcon {
    display: block;
}

.channelDeleteIcon {
    display: none;
}

.timelineButton {
    float: right;
}

#channelPanes {
    height: 100%;
}

#channelsWrapper {
    background: #375a7f;
    width: 200px;
    height: 100%;
    float: left;
    position: relative;
    display: flex;
    flex-flow: column;
}

#channelPanesWrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#channelFooter {
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 10px;
}

#channels {
    flex: 1;
    overflow-y: auto;
}

.channel-pane {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 10px;
}

.vakata-context,
.vakata-context ul {
    z-index: 15;
}

#toolsForm,
#notesForm,
#filesForm {
    height: 100%;
}

#newNoteButton {
    margin-left: 10px;
    margin-top: 10px;
}

#prevObjectSearch {
    margin-right: 5px;
}

.canvas-container {
    width: 100% !important;
    height: 100% !important;
    ;
    position: absolute !important;
    ;
    left: 0px !important;
    top: 0px !important;
}

.jstree-anchor {
    width: 100%;
}

.jstree-default .jstree-wholerow-clicked {
    background-color: transparent;
    background: transparent;
}

.jstree-default .jstree-wholerow-hovered {
    background-color: #00000017;
}

.jstree-default .jstree-node {
    padding: 0px !important;
}

h1 {
    margin-top: 0px;
}

.modal {
    overflow: hidden;
}

.modal-header {
    background-color: #222;
    border: 0px;
}

.modal-content {
    border: 0px;
}

.modal-details {
    height: 600px;
}

.modal-body {
    padding: 0px;
    margin: 15px;
}

.window-body {
    margin: 0px;
    display: flex;
    flex-flow: column;
    height: 0 !important;
}

.window-content {
    height: 600px;
    width: 600px;
    border-radius: 0px;
    border: 1px solid #666;
}

.window-header {
    padding: 5px;
    border-radius: 0px;
}

.modal-footer {
    background-color: #222;
    border: 0px;
}

.ql-editor {
    overflow-y: unset;
    width: 100%;
}

.ql-toolbar.ql-snow {
    padding: 4px;
    border: 0px;
}

.ql-container.ql-snow {
    border: 0px;
}

.ql-snow .ql-stroke {
    stroke: #fff;
}

.ql-picker-label {
    color: #fff;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    z-index: 5;
}

.login-logo {
    display: block;
    margin: auto;
    width: 300px;
}

.ui-resizable-handle {
    left: unset;
}

.object-details {
    font-family: courier;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #505050;
}

.form-signin-heading {
    margin-bottom: 30px;
}

#minimap {
    position: absolute;
    bottom: 30px;
    left: 5px;
    width: 100px;
    height: 100px;
    background-color: #101010;
}

#zoom-buttons {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#newObjectButton {
    float: right;
}

.btn-login {
    margin-top: 20px;
    background-color: #080808;
    color: white;
}

.cp-form-control {
    width: 300px;
}

.cp-form-group {
    margin-bottom: 5px;
}

.input-password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.propButton {
    margin-right: 10px;
}

#propObjectGroup {
    height: 300px;
    overflow-x: hidden;
}

.cancelLink {
    position: relative;
    left: 6px;
    bottom: 0px;
    display: none;
}

#objectSearchBar {
    width: 300px;
    left: 10px;
    top: 10px;
    position: absolute;
    display: none;
}

.zoomIn {
    width: 21px;
    height: 21px;
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-right: 3px;
}

.zoomOut {
    width: 21px;
    height: 21px;
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-right: 3px;
}

#message {
    position: absolute;
    left: 12px;
    top: 4px;
    width: 600px;
    min-height: 30px;
    background: #333;
    border: 1px solid #666;
    padding: 10px;
    display: none;
}

.messageHeader {
    font-size: 20px;
    font-weight: bold;
}

.messageBody {
    font-size: 16px;
}

.toolbarTitle {
    font-size: 20px;
    font-weight: bold;
}

.propColor {
    display: inline;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

#diagramJumbo {
    padding: 0px !important;
    border-radius: 0px;
    min-height: 350px;
    margin-bottom: 5px;
}

.vertNav {
    height: 100%;
    width: 35px;
    top: 0px;
    right: 0px;
    position: absolute;
    background: #375a7f;
}

.vertNavOutsideLeft {
    position: absolute;
    left: -35px;
}

.vertTab {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 35;
    height: 85px;
    border-bottom: 2px solid #224050;
    position: relative;
    z-index: 4;
}

.vertTabSm {
    height: 35px;
}

.horizTab {
    pointer-events: all;
    z-index: -1;
    position: relative;
    float: left;
    height: 35px;
    width: 100px;
    background: #9d9d9d;
    border-radius: 4px 4px 0px 0px;
    border-top: 1px solid #7f7f7f;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    -webkit-transform: perspective(75px) rotateX(30deg);
    -moz-transform: perspective(75px) rotateX(30deg);
}

.tab span {
    opacity: 0.0;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tableHeader {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.tableTitle {
    margin: 0px;
    line-height: 1.7;
    float: left;
}

.tableButton {
    float: left;
}

.tableBody {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

.tab-float {
    background: none;
    pointer-events: none;
    z-index: 99;
}

#tabs-icon {
    width: 100%;
    padding: 5px;
}

.taskbarButton {
    min-width: 100px;
    width: fit-content;
    background-color: #444;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-right: 5px;
}

.taskbarClose {
    padding-left: 10px !important;
    font-size: 18px;
    line-height: 22px;
}

#bottomJumbo {
    height: 350px;
    min-height: 300px;
    padding: 0px;
    width: 100%;
}

.click-through {
    pointer-events: none;
}

.activeTab {
    z-index: 40;
    background-color: #303030;
    position: relative;
}

.active-horiz-tab {
    z-index: 40;
    background-color: #303030;
}

.openCloseIcon {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.openCloseIcon:before,
.openCloseIcon:after {
    content: '';
    display: inline-block;
    height: 15px;
    width: 2px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    transition: 500ms ease-in-out transform;
}

.openCloseIcon:before {
    transform: rotate(-45deg);
    left: 16px;
    top: 14px;
}

.openCloseIcon:after {
    transform: rotate(45deg);
    left: 14px;
    top: 5px;
}

.openCloseIcon.open:before {
    transform: translateY(-9px) rotate(-45deg);
}

.openCloseIcon.open:after {
    transform: translateY(9px) rotate(45deg);
}

#chatTabTag {
    left: 20px;
    top: 50px;
}

#filesTabTag {
    left: 20px;
    top: 255px;
}

#notesTabTag {
    left: 20px;
    top: 175px;
}

#toolsTabTag {
    left: 20px;
    top: 90px;
}

#settingsTabTag {
    left: 20px;
    top: 320px;
}

#eventsTabTag {
    left: 20px;
    top: 144px;
}

#opnotesTabTag {
    left: 20px;
    top: 235px;
}

#propStrokeColor,
#propFillColor {
    background-color: transparent;
}

.rotated {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: left top;
    transform: rotate(-90deg);
    transform-origin: left center;
}

#toolbar {
    background-color: #303030;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

#toolbarBody[style] {
    left: 0 !important;
}

#toolbarBody {
    width: 0px;
    height: 100%;
    overflow: hidden;
}

.toolbar-form {
    min-width: 300px;
}

.thumbnail {
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
    position: relative;
}

.image_picker_image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
}

#windowPane {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.windowPane .label {
    cursor: pointer;
    line-height: 2;
    margin-left: 5px;
    font-size: 14px;
}

.windowPane .label+.label {
    margin-bottom: 0px;
}