.tabulator .tabulator-header .tabulator-col {
  background-color: #303030;
}

.tabulator .tabulator-tableHolder .tabulator-table {
  background-color: #303030;
}

.tabulator-row {
  background-color: #303030;
}

.tabulator-row.tabulator-selectable:hover {
  background-color: #444 !important;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
  background-color: #444;
}

.tabulator-row .tabulator-cell.tabulator-editing {

  border: 1px solid #fff;
}

.tabulator-row .tabulator-cell.tabulator-editing input, .tabulator-row .tabulator-cell.tabulator-editing select {
  color: #fff;
}

.tabulator-edit-select-list .tabulator-edit-select-list-item {
  background-color: #222;
}

.tabulator-edit-select-list .tabulator-edit-select-list-item:hover {
  background-color: #555;
}

.tabulator-edit-select-list .tabulator-edit-select-list-item.active {
  background-color: #444;
}